@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #F1F7FA;

  --color-primary: #1c863e;
  --color-primary-foreground: #ffffff;

  --color-secondary: #0E0E0E;
  --color-secondary-foreground: #ffffff;

  --color-accent: #22c55e;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
